$theme-color: #d43c33;
$black: #000;
$white: #fff;
$blue: #517eaf;

$player-bgcolor: #222;

$font-color: #4a4a4a;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-title: 18px;

$font-weight-bold: 700
